@model MealPlanner.Pages.Shared.RecipeCardModel

<div class="card h-100">
    <div class="card-body h-100 col d-flex flex-column">
        <h5 class="card-title text-nowrap overflow-hidden text-truncate" title="@Model.Recipe.Name">
            @Model.Recipe.Name
        </h5>
        <div class="card-text row">
            <div class="col-auto">🕒 @Model.Recipe.Time</div>
            <div class="col-auto">🍴 @Model.Recipe.Category</div>
            <div class="col-auto">💖 @Model.Recipe.Calories cals</div>
            @if (!string.IsNullOrEmpty(@Model.Recipe.BookTitle))
            {
                <div class="col-auto">📖 @Model.Recipe.BookTitle</div>
                <div class="col-auto">🔢 @Model.Recipe.PageNumber</div>
            }
        </div>
        <div class="row flex-grow-1"></div>
        @if (Model.ShowActions)
        {
            <div class="mt-2 align-self-end justify-content-end">
                <a asp-page="Details" asp-route-recipeId="@Model.Recipe.ID" class="btn btn-sm btn-primary">
                    Details
                </a>
                <a asp-page="Edit" asp-route-recipeId="@Model.Recipe.ID" class="btn btn-sm btn-warning">
                    Edit
                </a>
                <a asp-page="Delete" asp-route-recipeId="@Model.Recipe.ID" class="btn btn-sm btn-danger mr-0">
                    Delete
                </a>
            </div>
        }
    </div>
</div>
