@page "{recipeId:int}"
@model MealPlanner.Pages.Recipes.DetailsModel
@{
}

<h2>@Model.Recipe.Name</h2>

<div>
    Category: @Model.Recipe.Category
</div>
<div>
    Meal Time: @Model.Recipe.Time
</div>
<div>
    Calories: @Model.Recipe.Calories
</div>
<div>
    Book Title: @Model.Recipe.BookTitle
</div>
<div>
    Page Number: @Model.Recipe.PageNumber
</div>
<div>
    Notes: 
</div>
<div>
    @Model.Recipe.Notes
</div>

<a asp-page="./Index" class="btn btn-primary mt-2">All Recipes</a>