@page "{recipeId:int}"
@model MealPlanner.DetailsModel
@{
  ViewData["Title"] = "Recipe Details";
}

<h2>Recipe Details</h2>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">@Model.Recipe.Name</h5>
    <div class="card-text">

      <div>
        <b>Category: </b> @Model.Recipe.Category
      </div>
      <div>
        <b>Meal Time: </b> @Model.Recipe.Time
      </div>
      @if (Model.Recipe.Calories.HasValue)
      {
        <div>
          <b>Calories: </b> @Model.Recipe.Calories.Value
        </div>
      }

      @if (!String.IsNullOrEmpty(Model.Recipe.BookTitle))
      {
        <div>
          <b>Book Title: </b> @Model.Recipe.BookTitle
        </div>

        @if (Model.Recipe.PageNumber.HasValue)
        {
          <div>
            <b>Page Number: </b> @Model.Recipe.PageNumber.Value
          </div>
        }
      }
    </div>

    @if (!String.IsNullOrEmpty(Model.Recipe.Notes))
    {
      <h6 class="mb-0 mt-2">Notes</h6>
      <p class="card-text" style="white-space: pre">@Model.Recipe.Notes</p>
    }

  </div>

</div>

<div>
  <a asp-page="./Index" class="btn btn-primary mt-2">All Recipes</a>
</div>