@page
@model MealPlanner.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "Recipes";
}

<h2>Recipes</h2>

<a asp-page="./Edit" class="btn btn-primary mt-2 mb-2">Create New Recipe</a>
<a asp-page="./MealPlan" class="btn btn-secondary mt-2 mb-2">Meal Plan</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Meal Time</th>
            <th>Category</th>
            <th />
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model.Recipes)
        {
            <tr>
                <td>@recipe.Name</td>
                <td>@recipe.Time</td>
                <td>@recipe.Category</td>
                <td>
                    <a asp-page="Details" asp-route-recipeId="@recipe.ID">
                        Details
                    </a>
                    | 
                    <a asp-page="Edit" asp-route-recipeId="@recipe.ID">
                        Edit
                    </a>                    | 
                    <a asp-page="Delete" asp-route-recipeId="@recipe.ID">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>