@page
@model MealPlanner.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "Recipes";
}

<h2>Recipes</h2>

<div class="row justify-content-between">
    <form method="get" class="form-inline">
        <div class="input-group">
            <input type="text" asp-for="NameFilter" class="form-control" placeholder="Filter by name..." />
            <select asp-for="CategoryFilter" asp-items="Model.Categories" class="form-control">
                <option value="">Select Category</option>
            </select>
            <select asp-for="TimeFilter" asp-items="Model.Times" class="form-control">
                <option value="">Select Meal Time</option>
            </select>
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>
    <span>
        <a asp-page="./Edit" class="btn btn-primary mt-2 mb-2">Create New Recipe</a>
        <a asp-page="./MealPlan" class="btn btn-secondary mt-2 mb-2">Meal Plan</a>
    </span>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Meal Time</th>
            <th>Category</th>
            <th>Calories</th>
            <th>Notes</th>
            <th />
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model.Recipes)
        {
            <tr>
                <td>@recipe.Name</td>
                <td>@recipe.Time</td>
                <td>@recipe.Category</td>
                <td>@recipe.Calories</td>
                <td>@recipe.Notes</td>
                <td>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <a asp-page="Details" asp-route-recipeId="@recipe.ID" class="btn btn-sm btn-primary">
                                Details
                            </a>
                        </div>
                        <div>
                            <a asp-page="Edit" asp-route-recipeId="@recipe.ID" class="btn btn-sm btn-warning">
                                Edit
                            </a>
                        </div>
                        <div class="input-group-append">
                            <a asp-page="Delete" asp-route-recipeId="@recipe.ID" class="btn btn-sm btn-danger">
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>